USE [master]
GO
/****** Object:  Database [UserDB]    Script Date: 3/28/2024 6:54:40 AM ******/
CREATE DATABASE [UserDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSERVER\MSSQL\DATA\UserDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSERVER\MSSQL\DATA\UserDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserDB]
GO
/****** Object:  Table [dbo].[Mitarbeiter]    Script Date: 3/28/2024 6:54:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mitarbeiter](
	[ID] [int] NOT NULL,
	[RollenID] [int] NULL,
	[Benutzer] [varchar](50) NOT NULL,
	[Vorname] [varchar](50) NULL,
	[Nachname] [varchar](50) NULL,
	[EMail] [varchar](255) NOT NULL,
	[Passwort] [varchar](255) NOT NULL,
	[Aktiv] [bit] NULL,
	[Erstelldatum] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserView]    Script Date: 3/28/2024 6:54:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add Views with aliases and true1 false0 showing as Aktiv, Inaktiv
CREATE VIEW [dbo].[UserView] AS
SELECT 
    ID AS Nummer,
    Benutzer AS Anmeldename,
    CONCAT(Vorname, ' ', Nachname) AS Anwender,
	CONCAT('E-Mailadresse: ', EMail) AS Mail,
    CASE 
        WHEN Aktiv = 1 THEN 'Aktiv'
        ELSE 'Inaktiv'
    END AS Anmeldung
FROM Mitarbeiter;
GO
/****** Object:  Table [dbo].[Rollen]    Script Date: 3/28/2024 6:54:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rollen](
	[ID] [int] NOT NULL,
	[Rolle] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Mitarbeiter] ([ID], [RollenID], [Benutzer], [Vorname], [Nachname], [EMail], [Passwort], [Aktiv], [Erstelldatum]) VALUES (1, 1, N'user1', N'Max', N'Mustermann', N'max.mustermann@test.de', N'passwort1', 1, CAST(N'2024-03-30' AS Date))
INSERT [dbo].[Mitarbeiter] ([ID], [RollenID], [Benutzer], [Vorname], [Nachname], [EMail], [Passwort], [Aktiv], [Erstelldatum]) VALUES (2, 1, N'user2', N'Maria', N'Musterfrau', N'maria.musterfrau@test.de', N'passwort2', 1, CAST(N'2024-03-30' AS Date))
INSERT [dbo].[Mitarbeiter] ([ID], [RollenID], [Benutzer], [Vorname], [Nachname], [EMail], [Passwort], [Aktiv], [Erstelldatum]) VALUES (3, 2, N'admin31', N'Admin', N'Administrator', N'admin31@test.de', N'adminpass3', 1, CAST(N'2024-03-30' AS Date))
GO
INSERT [dbo].[Rollen] ([ID], [Rolle]) VALUES (1, N'Benutzer')
INSERT [dbo].[Rollen] ([ID], [Rolle]) VALUES (2, N'Administrator')
INSERT [dbo].[Rollen] ([ID], [Rolle]) VALUES (3, N'Superadmin')
GO
ALTER TABLE [dbo].[Mitarbeiter]  WITH CHECK ADD FOREIGN KEY([RollenID])
REFERENCES [dbo].[Rollen] ([ID])
GO
USE [master]
GO
